<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org/"
      layout:decorate="~{layouts/user}">
<div class="container" layout:fragment="content">

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example
        </div>
        <a th:href="@{/admin/addAdvert}" class="btn btn-success">Add Advertisment</a>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="ad : ${adverts}">
                        <td th:text="${ad.title}"></td>
                        <td th:text="${ad.description}"></td>
                        <td>
                            <img th:src="${ad.image}" th:alt="${ad.title}" class="img-thumbnail w-25">
                        </td>

                        <td>
                            <a th:href="@{'/admin/update/' + ${ad.id}}" class="btn btn-info">Update</a>
                            <a th:href="@{'/admin/delete/' + ${ad.id}}" class="btn btn-danger">Delete</a>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>
</html>