<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">MUM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- stylesheet -->
    <link type="text/css" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/shop-homepage.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/sb-admin.css}">
</head>
<body id="page-top">
<!-- header -->
<nav th:replace="layouts/fragments/header :: header">This is the website header</nav>
<!-- header -->

<!-- container -->
<div id="wrapper">

    <!-- Sidebar -->
    <span th:replace="layouts/fragments/sidebar_seller :: sidebar" th:remove="tag"></span>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Blank Page</li>
            </ol>

            <!-- Page Content -->
            <h1>Blank Page</h1>
            <hr>
            <p>This is a great starting point for new custom pages.</p>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <!-- footer -->
        <footer th:replace="layouts/fragments/sticky-footer :: footer">This is the website footer</footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- container -->

<!-- logout -->
<div th:replace="layouts/fragments/logout :: logout">Modal logout function</div>
<!-- logout -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Scroll to Top Button-->

<!-- javascript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/js/sb-admin.min.js}"></script>
</body>
</html>