<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">MUM</title>
	<meta charset="utf-8">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description"
	      content="">
	<meta name="author"
	      content="">
	<!-- stylesheet -->
	<link type="text/css"
	      rel="stylesheet"
	      th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
	<link type="text/css"
	      rel="stylesheet"
	      th:href="@{/css/shop-homepage.css}">
	<link type="text/css"
	      rel="stylesheet"
	      th:href="@{/vendor/fontawesome-free/css/all.min.css}">
	<link type="text/css"
	      rel="stylesheet"
	      th:href="@{/css/sb-admin.css}">
</head>
<body id="page-top" sec:authorize="isAuthenticated()">
	<!-- header -->
	<nav th:replace="layouts/fragments/header :: header">This is the website header</nav>
	<!-- header -->
	
	<!-- container -->
	<div id="wrapper">
		
		<!-- Sidebar -->
		<span th:replace="layouts/fragments/sidebar :: sidebar" th:remove="tag"></span>
		
		<div id="content-wrapper">
			
			<div class="container-fluid">
				
				<div th:replace="layouts/fragments/breadcrumbs :: breadcrumbs" th:remove="tag"><!-- Breadcrumbs--></div>
				
				<div layout:fragment="content"><!-- Page Content --></div>
			
			</div>
			<!-- /.container-fluid -->
			
			<!-- footer -->
			<footer th:replace="layouts/fragments/sticky-footer :: footer">This is the website footer</footer>
		
		</div>
		<!-- /.content-wrapper -->
	
	</div>
	<!-- container -->
	
	<!-- logout -->
	<div th:replace="layouts/fragments/logout :: logout" th:remove="tag">Modal logout function</div>
	<!-- logout -->
	
	<!-- Scroll to Top Button-->
	<div th:replace="layouts/fragments/scrolltop :: scrolltop" th:remove="tag">scroll top module</div>
	<!-- Scroll to Top Button-->
	
	<!-- javascript -->
	<div th:replace="layouts/fragments/javascripts :: javascripts" th:remove="tag">javascript module</div>

</body>
</html>