<div th:fragment="seller"
     th:remove="tag"
     xmlns:th="http://www.thymeleaf.org/"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<li class="nav-item">
		<a class="nav-link"
		   th:href="@{/seller/dashboard}">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span>
		</a>
	</li>
	
	<li class="nav-item">
		<a class="nav-link"
		   th:href="@{/account/profile}">
			<i class="fas fa-fw fa-user-cog"></i>
			<span>Profile</span></a>
	</li>
	
	<li class="nav-item">
		<a class="nav-link"
		   th:href="@{/seller/shop}">
			<i class="fas fa-fw fa-store-alt"></i>
			<span>Shop Info</span></a>
	</li>
	
</div>
