<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org/"
      layout:decorate="~{layouts/account}">
<div class="container" layout:fragment="content">
	
	<!-- display the choose -->
	<div class="h-100 row align-items-center">
		<div class="col">
			<div class="row align-items-center">
				<div class="col-6">
					<button class="btn btn-lg btn-info" value="Seller">
						Seller
					</button>
				</div>
				<div class="col-6">
					<button class="btn btn-lg btn-info" value="Buyer">
						Buyer
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- display the choose -->
	
	
</div>
</html>