<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/home}">

<div class="container" layout:fragment="content">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Shop Name</h1>
            <div class="list-group">
                <a href="#" class="list-group-item active">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="card mt-4">
                <img class="card-img-top img-fluid" th:src="${product.image}" th:alt="${product.name}">
                <div class="card-body">
                    <h3 class="card-title" th:text="${product.name}"></h3>
                    <h4>$24.99</h4>
                    <form sec:authorize="hasAuthority('BUYER') || isAnonymous()"
                          th:action="@{/product/{id}/cart(id=${product.id})}"
                          method="post" class="m-0 p-0">
                        <button title="Add to Cart" class="btn btn-success"
                                type="submit">
                            <i class="fa fas fa-cart-plus"></i> Add to Cart
                        </button>
                    </form>
                    <p class="card-text" th:text="${product.description}"></p>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                    <span th:if="${rating == 0}">No rating</span>
                    <span th:unless="${rating == 0}" th:text="${rating} + ' Stars'"></span>
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div class="card-body" th:each="orderItem : ${orderItems}">
                    <p th:text="${orderItem.review}"></p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <a href="#" class="btn btn-success">Leave a Review</a>
                </div>
            </div>

        </div>
    </div>
</div>


</html>
