<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/user}">
<div class="container" layout:fragment="content">


    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Buyer</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Buyer</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="item: ${orderItems}">
                    <td th:text="${item.order.buyer.user.firstName} + ' ' + ${item.order.buyer.user.lastName}"></td>
                    <td th:text="${item.product.name}"></td>
                    <td th:text="${item.product.price}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.orderStatus}"></td>
                    <td>
                        <form action="#" th:action="@{/seller/orders/} + ${item.id}">
                            <input type="submit" value="Details" class="btn btn-info"/>
                        </form>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</html>