<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/user}">
<div class="container" layout:fragment="content">

    <div class="card mb-3">
        <div class="card-header">
            <span class="fa fas fa-barcode fa-2x text-primary"> Orders History</span>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="grid" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Shipping Address</th>
                        <th>Billing Address</th>
                        <th>Payment Info</th>
                        <th>Ordered Date</th>
                        <th>End Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Shipping Address</th>
                        <th>Billing Address</th>
                        <th>Payment Info</th>
                        <th>Ordered Date</th>
                        <th>End Date</th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="order: ${orders}">
                        <td th:text="${order.shippingAddress}"></td>
                        <td th:text="${order.billingAddress}"></td>
                        <td th:text="${order.paymentInfo}"></td>
                        <td th:text="${order.orderedDate}"></td>
                        <td th:text="${order.endDate}"></td>
                        <td>
                            <form th:object="${order}" action="#" th:action="@{/orders/} + ${order.id}">
                                <input type="submit" value="Details" class="btn btn-primary"/>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</html>