<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/user}">
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/cart.js}"></script>
</head>
<div class="container" layout:fragment="content">
    <P>
        <h1>Buyer homepage!!!!</h1>
        <small>Implement your buyer function on this area</small>
    </p>

    <div >
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody id='cart-item'>
                <tr  th:each="item: ${cart}">
                    <td th:text="${item.product.name}"></td>
                    <td th:text="${item.product.price}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td>
                        <a href="#" class='remove-item' th:data="${item.id}">Remove</a>
                    </td>
                </tr>
            </tbody>


        </table>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    </tfoot>
                    <tbody id='cart-item'>
                    <tr  th:each="item: ${cart}">
                        <td th:text="${item.product.name}"></td>
                        <td th:text="${item.product.price}"></td>
                        <td th:text="${item.quantity}"></td>
                        <td>
                            <a href="#" class='remove-item' th:data="${item.id}">Remove</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form action="#" th:action="@{/buyer/checkout}">
            <input type="submit" value="Checkout"/>
        </form>
    </div>
</div>
</html>